@import '../../../shared/css/bg-pages-logged.css';


/*.bg-height {
    background-image: linear-gradient(to right top, #000000, #2a272b, #484c56, #617681, #7ea3a3);
    height: 1310px;
}*/

.bg-praphic {
    background-color: rgba(0, 0, 0, 0.8);
}

.margin-graphic {
    margin-top: 115px;
 }

@media (min-width: 300px) and (max-width: 404.98px)  {

    .bg-praphic {
        background-color: rgba(0, 0, 0, 0.9);
    }

	.bg-height {
        background-image: linear-gradient(to right top, #000000, #2a272b, #484c56, #617681, #7ea3a3);
        height: 1330px;
    }

    .margin-graphic {
    	margin-top: 0px;
 	}
 }

/* @media (min-width: 1080px) and (max-height: 2160px)  {
     
    .bg-height {
        height:  2100px;
    }

 }*/

 