footer {
    background: #0a0a0f;
    padding: 20px 0px 10px 0px;
    /* position: relative; */
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
}

footer li {
    color: white;
}

li, li a {
    font-size: 0.9em;
}


.padding-top-ul {
    padding-top: 10px;
}

@media (min-width: 300px) and (max-width: 404.98px)  {

    .width-footer {
        width: 374.98px;
    }

 }