<footer class="width-footer ">
  <div class="container">
    <div class="row">

      <div class="col-md-4 padding-top-ul">
        <h4>© Copyright PiPe. All Rights Reserved</h4>
      </div>

      <div class="col-md-4 padding-top-ul">
        <h4>Contato</h4>
        <ul class="navbar-nav">
          <li>contato.pipe@outlook.com</li>
        </ul>
      </div>

      <div class="col-md-3 padding-top-ul">
        <h4>Imagens/Ícones</h4>
        <ul class="navbar-nav">
          <li></li>
          <li><a href="https://icons8.com.br/" target="__blank">Icons8</a></li>
          <li><a href="https://unsplash.com/" target="__blank">Unsplash</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>