<head>
  <!--Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</head>

<header>

  <nav class="navbar navbar-expand-lg navbar-light nav-menu bg-menu bg-width-login-create-user ">

    <div class="container">
      <a href="#" class="navbar-brand"></a>
      <img class="align-self-center " src="/assets/imgs/PiPe4.png" alt="logo" style="max-width: 40px;">
      <h3 class="text-white">Finanças Pessoais</h3>
    

      <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-menu">
        <i class="fas fa-bars text-white"></i>
      </button>

    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/singup">Cadastre-se</a>
        </li>
      </ul>
    </div>

  </div>
  </nav>
</header>