<section id="home" class="pt-4">

  <div class="container">
    <div class="row">

      <div class="col-md-6 d-flex ">

        <div class="align-self-center">
          <h1 class="display-5">Suas contas, organizadas</h1>
            <p class="text-justify">PF Controle financeiro visa blabla de slá oque depois eu penso em algo, eu não sei escrever essas coisas, só estou enchendo linguiça pra ver como vai ficar com algum texto de exemplo e não queria usar lorem ipsum. Ainda não tem cadastro? <a routerLink="/singup" style="text-decoration: none;">Cadastre-se</a> já :)</p>
        </div>
      </div>

      <div class="col-md-6 d-none d-md-block">
        <img src="/assets/imgs/capa-mulher.png" class="img-fluid" alt="aa">
      </div>
      
    </div>
    
  </div>

</section>

<section class="box">
  <div class="container" >

    <div class="row">

      <div class="col-md-4 text-center">
        <img class="align-self-center " src="/assets/imgs/timer.png"  alt="relógio" >
  
        <h3 >Economize tempo</h3>
        <p class="text-justify">Não gaste tempo blabla bla bla ba de sla o que e boa</p>
      </div>

      <div class="col-md-4 text-center">
        <img class="align-self-center " src="/assets/imgs/mobile.png"  alt="relógio" >
  
        <h3>Fácil de usar</h3>
        <p class="text-justify">Não gaste tempo blabla bla bla ba de sla o que e boa aspasios agora sla depois que não sei o que me vem </p>
      </div>

      <div class="col-md-4 text-center">
        <img class="align-self-center " src="/assets/imgs/money.png"  alt="relógio" >
  
        <h3>Totalmente gratuito</h3>
        <p class="text-justify">Não gaste tempo blabla bla bla ba de sla o que e boa</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>